.ex-1-square:hover{
    background-color: red;
}
.ex-2-square:active{
    width: 100%;

}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square:hover {
    background-color: transparent;
}
.ex-5-square:hover{
    transform: scale(2);
  
}
.ex-5-square:active{
    transform: scale(0.5);
 
}
.ex-6-img:hover{
    filter: grayscale(1);
    

}
.ex-7-img:hover{
    transition: all 1.5s;
    filter: sepia(0.6) brightness(1);
}
.ex-8-img:hover{
    transition: all 1.5s;
    filter:grayscale(0.5) sepia(0.6);
    border-radius: 20px;

}
.ex-9-img:hover{
    transition: all 1.5s;
    filter: grayscale(0.5) sepia(0.6);
    border-radius: 20px;
    width: auto;
    height: 50%;

}