.ex-1-square:hover{
    background-color: red;
}
.ex-2-square:active{
    width: 100%;

}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square:hover {
    background-color: transparent;
}
.ex-5-square:hover{
    transform: scale(2);
  
}
.ex-5-square:active{
    transform: scale(0.5);
 
}
.ex-6-img:hover{
    filter: grayscale(1);
    

}
.ex-7-img:hover{
   
    filter: sepia(0.6) brightness(1);
}
.ex-8-img:hover{
    filter:grayscale(0.5) sepia(0.6);
    border-radius: 20px;

}
.ex-9-img:hover{
    filter: grayscale(0.5) sepia(0.6);
    border-radius: 20px;
    transform: scale(1.5);
}
@keyframes spin-left{
    0%{
        transform: rotate(-0deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}
.ex-11-icon:hover{
    
    animation: spin-right 2s linear;

}

@keyframes spin-right {
    0%{
        transform:rotate(0deg);
    }
    
    75%{
        transform:rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
  
    animation: topwhite-line 1s linear  ;


}
.ex-12-button:hover .ex-12-bottom-white{
  
    animation: bottomwhite-line 1s linear  ;


}



@keyframes topwhite-line{
    0%{
        top: -10px;
        left: 10%;
    }
    50%{


        top:-10px;
        left:68%;
    }
    100%{
        top: -10px;
        left: 10%;

    }
}
@keyframes bottomwhite-line{
    0%{
        bottom: -10px;
        right: 20%;
    }
    50%{


        bottom:-10px;
        right:68%;
    }
    100%{
        bottom: -10px;
        right: 20%;

    }
}

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white{

animation: line-topwhite 2s linear  ;


}
.ex-13-button:hover .ex-13-bottom-white{
  
    animation: line-bottomwhite 2s linear  ;


}
@keyframes line-topwhite{
    0% {
        top: -10px;
        left: 10%;
        
    }
    30% {
        top: -10px;
        left: 75%;
        
    }
    45% {
        top: 100%;
        left: 75%;
        
    }
    75% {
        top: 100%;
        left: 0;
        
    }
    90% {
        top: -10px;
        left: -15%;
        
    }
    
    100% {
        top: -10px;
        left: 10%;
        
    }
}
@keyframes line-bottomwhite{
    0%{
        bottom: -10px;
        right: 20%;
    }
        
    30% {
        bottom: -10px;
        right: 75%;
        
    }
    45% {
        bottom: 100%;
        right: 75%;
        
    }
    75% {
        bottom: 100%;
        right: 0%;
        
    }
    90% {
        bottom: -10px;
        right: -20%;
        
    }
    100%{
        bottom: -10px;
        right: 20%;

    }
    
   

   
}
        
 

 